<div>
    <div class="absolute" *ngIf="labels">
        <a href="{{redditUrl}}" target="_blank" class="inline-block bg-gray-200 hover:bg-gray-300 p-1 font-black">Reddit</a>
        <a href="{{gmUrl}}" target="_blank" class="inline-block bg-gray-200 hover:bg-gray-300 p-1 font-black">GM</a>
        <a *ngIf="fs && this.knightId" [routerLink]="'/k/'+knightId" target="_blank" class="inline-block bg-gray-200 hover:bg-gray-300 p-1 font-black">FullScreen</a>
    </div>

    <img class="w-full" [src]="domSrv.bypassSecurityTrustUrl(knight[1].value)" [ngClass]="{'glow2': glow}"/>
</div>
