<div class="flex flex-wrap mt-16 md:container">
    <div class="w-full md:max-w-1/2">
        <p class="font-black text-5xl tracking-wide uppercase leading-snug md:leading-relaxed md:text-7xl md:text-right md:mr-8">Neo Knights</p>
   </div>
    <div class="w-full md:max-w-1/2 ">
        <p class="lead2 font-black pl-2 text-5xl tracking-wide uppercase leading-snug md:leading-relaxed md:text-7xl md:text-left md:mr-8">Raffle</p>
        <div class="lead1 w-full flex flex-wrap shadow-md md:divide-x p-2">
            <div class="min-w-1/2 md:min-w-1/4">
                <p *ngIf="neoB; else offline" class="text-4xl tracking-wide text-black"><span>{{neoB}}</span></p>
                <p class=" font-black text-4xl tracking-wide">NEO</p>
            </div>
            <div class="min-w-1/2 md:min-w-1/4">
                <p *ngIf="gasB; else offline" class="text-4xl tracking-wide text-black"><span>{{gasB}}</span></p>
                <p class="font-black text-4xl tracking-wide">GAS</p>
            </div>
            <div class="min-w-full mt-2 md:min-w-1/4 md:mt-0 pl-2 text-md text-left">
                <div *ngIf="lastWinner" class="flex lead1 items-center">
                    <div class="font-black tracking-wide">
                        Last payout
                    </div>
                    <div class="flex text-black text-sm tracking-wide" *ngIf="lastWinner[0].value != ''; else never">
                        <div class="pl-2">{{lastWinner[1].value[0].key}}<span class="text-lg pl-1">{{lastWinner[1].value[0].value}}</span></div>
                        <div class="pl-2">{{lastWinner[1].value[1].key}}<span class="text-lg pl-1">{{lastWinner[1].value[1].value}}</span></div>
                    </div>
                </div>
                <p class=""><span class="font-black tracking-wide">Entries</span><span class="text-lg text-black pl-1">{{entryKnights.size}}/10</span></p>
                <p class=""><span class="font-black tracking-wide">Status</span><span class="text-lg text-black pl-1">{{entryKnights.size == 10 ? 'winner drawn' : 'active'}}</span></p>
            </div>
        </div>
    </div>
    <div class="lead1 w-full divide-y mt-8 md:mt-16 pb-2">
        <div class="lead1 text-4xl md:text-6xl md:text-middle font-black tracking-wide p-2 uppercase">
            Entries
        </div>
        <div class="md:grid md:grid-flow-row md:grid-cols-3 md:gap-4 mx-2" *ngIf="entryKnights.size > 0; else empty">
            <app-knight class="mt-2" *ngFor="let knight of entryKnights | keyvalue" [knight]="knight.value" [tokenId]="knight.key" [labels]="true" [fs]="true"></app-knight>
        </div>
    </div>
</div>
<ng-template #offline>
    <div class="tracking-wide uppercase text-xs mt-2">loading</div>
</ng-template>
<ng-template #empty>
    <div class="tracking-wide uppercase text-xs mt-2">no entries</div>
</ng-template>
<ng-template #never>
    <div class="text-xs pl-2">never</div>
</ng-template>