<div class="w-full tracking-wide uppercase bg-yellow-100 text-black">
    !!! ONLY N3 TESTNET !!!
</div>
<div class="flex space-x-4 justify-center mt-4 md:container md:justify-end md:m-4">
    <button [routerLink]="'/'" class="rounded-xl h-102 w-12">
        <img class="rounded-xl h-12 w-12" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9Jy01IC01IDE1NSAxODAnIHN0eWxlPSdiYWNrZ3JvdW5kLWNvbG9yOiMyNDI0MjQnPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuYiB7CiAgICAgICAgbWl4LWJsZW5kLW1vZGU6IG11bHRpcGx5CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxnIHN0eWxlPSdpc29sYXRpb246aXNvbGF0ZSc+CiAgICA8ZyBpZD0nNCcgZGF0YS1uYW1lPSc0Jz4KICAgICAgPHBhdGggZmlsbD0nIzYwNmY3YicgZD0nTTMyLjI0IDYxLjc2djgwLjNsNTIuMiAxOC43di04MWw1Ni4zLTIwLjctNTEuMS0xOC4zLTU3LjQgMjF6JyAvPgogICAgICA8cGF0aCBmaWxsPScjM2Q0ODUyJyBkPSdNODguNjQgODIuNzZ2NDMuM2w1Mi4xIDE4LjZ2LTgxLjJsLTUyLjEgMTkuM3onIC8+CiAgICAgIDxwYXRoIGZpbGw9JyMzZDQ4NTInCiAgICAgICAgZD0nTTgyLjkzIDQ2LjU4TDU0IDM1LjEzbC0uODggMzEuMTQtMzMuMzkgMi44Nkw1MiAxMDQuNDhsNjEuMDctNDAuMjdhNy42IDcuNiAwIDAwMi43NC05LjQ4TDk4LjcgMTcuMDZ6JwogICAgICAgIHRyYW5zZm9ybT0ndHJhbnNsYXRlKC0xOS43MyAtMTcuMDYpJyAvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+" />
    </button>
 <button [routerLink]="'mint'" class="lead3 shadow font-black tracking-wide py-2 px-4 uppercase rounded-xl">
        Mint
    </button>
    <button [routerLink]="'raffle'" class="lead3 shadow font-black tracking-wide py-2 px-4 uppercase rounded-xl">
        Raffle
    </button>
</div>