<div class="flex flex-wrap mt-16 md:container">
    <div class="w-full md:max-w-1/2">
        <p class="font-black text-5xl tracking-wide uppercase leading-snug md:leading-relaxed md:text-7xl md:text-right md:mr-8">Meet the NEO community</p>
        <p class="lead2 shadow font-black text-md tracking-wide mt-2 p-2 text-black leading-relaxed text-right ml-2 md:text-left">Create unique <span class="text-xl">NFTs</span> based on reddit posts from outstanding contributors</p>
        <p class="lead1 font-black text-md tracking-wide p-2 mr-2 leading-relaxed text-left md:text-right">Be lucky and enter the fully automated <span class="text-xl">raffle</span> by minting a special neo knight</p>
    </div>
    <div class="mt-4 w-full md:max-w-1/2 ">
        <img  class="opacity-40 max-w-1/2 mx-auto" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9Jy01IC01IDE1NSAxODAnIHN0eWxlPSdiYWNrZ3JvdW5kLWNvbG9yOiMyNDI0MjQnPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuYiB7CiAgICAgICAgbWl4LWJsZW5kLW1vZGU6IG11bHRpcGx5CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxnIHN0eWxlPSdpc29sYXRpb246aXNvbGF0ZSc+CiAgICA8ZyBpZD0nNCcgZGF0YS1uYW1lPSc0Jz4KICAgICAgPHBhdGggZmlsbD0nIzYwNmY3YicgZD0nTTMyLjI0IDYxLjc2djgwLjNsNTIuMiAxOC43di04MWw1Ni4zLTIwLjctNTEuMS0xOC4zLTU3LjQgMjF6JyAvPgogICAgICA8cGF0aCBmaWxsPScjM2Q0ODUyJyBkPSdNODguNjQgODIuNzZ2NDMuM2w1Mi4xIDE4LjZ2LTgxLjJsLTUyLjEgMTkuM3onIC8+CiAgICAgIDxwYXRoIGZpbGw9JyMzZDQ4NTInCiAgICAgICAgZD0nTTgyLjkzIDQ2LjU4TDU0IDM1LjEzbC0uODggMzEuMTQtMzMuMzkgMi44Nkw1MiAxMDQuNDhsNjEuMDctNDAuMjdhNy42IDcuNiAwIDAwMi43NC05LjQ4TDk4LjcgMTcuMDZ6JwogICAgICAgIHRyYW5zZm9ybT0ndHJhbnNsYXRlKC0xOS43MyAtMTcuMDYpJyAvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+" />
    </div>
    <div class="w-full text-center pt-4">
        <div class="lead2 m-auto md:max-w-1/4 shadow font-black tracking-wide p-1 uppercase">
            <a href="mint">Mint now</a> 
        </div>
    </div>
    <div class="lead1 w-full divide-y mt-8 md:mt-16 pb-2">
        <div class="lead1 text-4xl md:text-6xl md:text-middle font-black tracking-wide p-2 uppercase">
            Top contributors
        </div>
        <div class="md:grid md:grid-flow-row md:grid-cols-3 md:gap-4 mx-2" *ngIf="topTen; else offline">
            <app-knight class="md:mt-2 md:mx-0 mx-1" *ngFor="let knight of topTen | keyvalue" [knight]="knight.value" [tokenId]="knight.key" [labels]="true" [fs]="true"></app-knight>
        </div>
    </div>
</div>
<ng-template #offline>
    <div class="tracking-wide uppercase text-xs mt-2">loading</div>
</ng-template>
<ng-template #never>
    <div class="text-xs pl-2">never</div>
</ng-template>