
<div class="sm:flex sm:flex-wrap sm:justify-center">	
	<div class="prose text-left max-w-screen-sm">
		<h1>Neo Knights</h1>
		<p>Self-sustaining protocol to support outstanding community members and the global N3 network.</p>
		<p>Neo-Knights keeps track of top reddit contributors while giving them options to manage incoming donations.</p>
		<p>Source code: <a href="https://github.com/Neo-Knights" target="_blank">https://github.com/Neo-Knights</a></p>
		<p>Contract hash: 0x0af362def0832d8616ce84d3b9960785fd780a10</p>
		<p>Contract address: NMNnYUXuMYvU3UcCjKCr9g1gRtcuFnJQjE</p>
		<p>Currently live on N3 RC3 testnet.</p>
		<h2>How does this work?</h2>
		<p>With Neo Knights, any individual can participate by:</p>
		<ol>
			<li>Donating GAS</li>
			<li>Registering a new Neo Knight</li>
			<li>Updating an existing Neo Knight</li>
		</ol>
		<p>Neo Knights is a basic protocol that mints a new NFT for the current top poster on reddit /r/NEO. The mint process is triggered by sending at least 10 GAS to the contract. The contract will execute an oracle request to reddit and fetch the top post of the week. 
			The minted NFT will be sent to the original sender of the transaction.
			If the user of the top post was alread minted as NFT, the Neo Knight will be updated instead, adding +1 strength to the Knight.
		</p>
		<p>Please note:</p>
		<ul>
			<li>The contract does only accept native GAS</li>
			<li>You cannot mint or update more than one Knight with the same address</li>
			<li>Every Knight has a one week timelock for updating (after minting and after every update)</li>
		</ul>
		<h2>Donate to active community contributors</h2>
		<p><b>Send less 10 (< 10) GAS to the contract address</b></p>
		<p>Sending less than 10 GAS to the contract will count as donation towards the protocol. The transaction will not trigger an oracle request.</p>
		<h2>Empower a new Neo Knight</h2>
		<p><b>Send at least 10 (>=10) GAS to the contract address</b></p>
		<p>Sending >= 10 GAS to the contract will trigger an oracle request to: https://www.reddit.com/r/NEO/top/?sort=top&t=week</p>
		<p>The user of the top /r/NEO post will be minted as a new NEO Knight, if not exists already.</p>
		<h2>Update a Neo Knight</h2>
		<p><b>Send at least 10 (>=10) GAS to the contract address.</b></p>
		<p>Updating is possible once a week (reset individually for every knight).</p>
		<p>Sending >= 10 GAS to the contract will trigger an oracle request to: https://www.reddit.com/r/NEO/top/?sort=top&t=week</p>
		<p>The user of the top /r/NEO post will be updated, if exists already. Updating will add +1 strength to the Neo Knight.</p>
		<h2>Verify as a Neo Knight</h2>
		<p>A verified Knight gets access to the following actions:</p>
		<ul>
			<li>Burn all GAS available in contract</li>
			<li>Distribute all GAS available in contract to all registered Knights</li>
			<li>Withdraw distributed GAS from the verified Knight to any N3 address</li>
		</ul>
		<p>After one action was executed, the Knight cannot take any action for one month.</p>
		<p>Neo Knights can verify their account by fullfilling following conditions:</p>
		<ul>
			<li>Must be registed as Neo Knight</li>
			<li>Sign the message "NeoKnights" with your N3 account and Base64Encode it</li>
			<li>Get a gilded post with the text content starting with the encoded signed message</li>
			<li class="break-all">Check at: https://www.reddit.com/user/username/gilded/limit=1</li>
		</ul>
		<p>Calling the verify method of the contract will trigger an oracle request that will verify your claim.</p>
		<h2>Burn GAS</h2>
		<p><b>Only for verified Knights</b></p>
		<p>Burning GAS possible once a month (reset individually for every knight).</p>
		<p>Invoke the method "BurnGasOption" with the name of the Knight as parameter.</p>
		<h2>Distribute GAS</h2>
		<p><b>Only for verified Knights</b></p>
		<p>Distribute GAS possible once a month (reset individually for every knight).</p>
		<p>Invoke the method "DistributeGasOption" with the name of the Knight as parameter.</p>
		<h2>Withdraw GAS</h2>
		<p><b>Only for verified Knights</b></p>
		<p>Withdraw the GAS balance that has been distributed to you.</p>
		<p>Invoke the method "DistributeGasOption" with the name of the Knight and receiving N3 address as parameters.</p>
	</div>
</div>