@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_colors.scss';
  
html, body {
  background: $gray-800;
} 

  footer {
    text-align: center;
  }
  .mainGradient {
    background: radial-gradient(
      circle closest-corner at center 10px,
      $green-800,
      $gray-800 300%
    );
    text-align: center;
    //ToDo: Make fixed on mobile
    z-index: 0;
  }
  .perkGradientG {
    background: radial-gradient(
      circle closest-corner at center 10px,
      $green-800,
      $gray-800 200%
    );
    text-align: left;
    z-index: 0;
  }
  .perkGradientR {
    background: radial-gradient(
      circle closest-corner at center 10px,
      $rose-900,
      $gray-800 200%
    );
    text-align: left;
    z-index: 0;
  }
  .stats {
    position: relative;
    z-index: 10;
  }
  .logo {
    z-index: 12;
  }
  .knights {
    position: relative;
    z-index: 11;
  }
  .primary {
    background: $gray-800
  }
  .header {
    background: $gray-900
  }

  @media (min-width: 640px) {
    .mainGradient {
        background-color: $gray-800;
        background: radial-gradient(
          circle closest-corner at center -20px,
          $green-800,
          $gray-800 60%
        ) no-repeat;
        text-align: center;
      }
      .perkGradientG {
        background: radial-gradient(
          circle closest-corner at center 10px,
          $green-800,
          $gray-800 200%
        );
        text-align: left;
        z-index: 0;
      }
      .perkGradientR {
        background: radial-gradient(
          circle closest-corner at center 10px,
          $rose-900,
          $gray-800 200%
        );
        text-align: left;
        z-index: 0;
      }
  }
  
  @media (min-width: 1024px) {
  }
  
  @media (min-width: 1280px) {
  }